/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
/*Decorative for H1  font-family: 'Caveat', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Rochester&display=swap');
/*Decorative for H1 another option
font-family: 'Rochester', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*font-family: 'Raleway', sans-serif;*/
/*--------->Variables<-----------*/
:root {
  --ligth-white: #FBEFE5;
  --darkest-brown: #8C3F23;
  --dark-brown: #BF622C;
  --light-brown: #F2A766;
  --cherry: #D90754;
}

/*--------->General Styles<-----------*/
#container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;

}


/*--------->HEADER<-----------*/
#nav-bar{
  /*Make the nav-bar dont move when scrolling*/
  position: fixed;
}

#nav-bar ul li{
  list-style: none;
  line-height: 2em;
}

#nav-bar ul li a{
  text-decoration: none;
}
/*--------->Main<-----------*/
main{

}


/*--------->Media Queries<-----------*/
@media (max-width: 768px) {

}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/
