/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
/*--------->Variables<-----------*/
:root {
  --grey: #E1E1E1;
  --light-grey: #F3F3F3;
  --white: #ffffff;
  --light-dark: #1B1B1B;
  --dark: #141414;
  --black: #000000;
}

body {
  background: var(--light-dark);
}

/*--------->General Styles<-----------*/
#container {
  max-width: 100%;
  color: var(--white);
}

h2 {
  color: #39ff14;
}

hr {
  color: #39ff14;
}

/*--------->HEADER<-----------*/
#side-bar {
  /*Width from right to left to allow the side var to be at rigth*/
  width: 250px;
  height: 100%;
  /*Make the nav-bar dont move when scrolling*/
  position: fixed;
  overflow: visible;
}

#side-bar ul li {
  list-style: none;
  line-height: 2em;
  border: 1px solid var(--grey);
  padding-left: 5px;
}

#side-bar ul li a {
  text-decoration: none;
  color: var(--light-grey);
}

#side-bar ul li a:hover {
  color: #39ff14;
}

#side-bar #main-title a {
  color: #39ff14;
  font-size: 1.3em;
}

main a {
  color: #39ff14;
  text-decoration: none;
}

/*--------->Main<-----------*/
main {
  margin-left: 300px;
}

.code-shape {
  color: var(--black);
  background: var(--white);
  padding: 1em;
  opacity: 0.9;
}

/*--------->Media Queries<-----------*/
@media (max-width: 768px) {
  body {
    margin: 0 auto;
    padding-top: 20px;
    overflow-x: hidden;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #side-bar {
    height: 12rem;
    overflow: scroll;
    overflow-x: hidden;
    position: static;
    width: 95%;
  }

  main {
    margin: 18px;
  }
}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/
